@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.burger__menu {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  position: absolute;
  width: 370px;
  background: #fff;
  top: 0px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.burger__menu_active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  top: 60px;
}
@media screen and (max-width: 768px) {
  .burger__menu {
    width: 220px;
  }
  .burger__menu_active {
    top: 50px;
  }
}
@media screen and (max-width: 410px) {
  .burger__menu {
    width: 120px;
  }
}
.burger__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 25px 14px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.burger__item:hover {
  background: #DDE8F0;
}
.burger__item:hover .burger__text {
  color: #33485D;
}
.burger__item:hover img {
  opacity: 1;
}
.burger__item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media screen and (max-width: 768px) {
  .burger__item {
    padding: 8px;
  }
}
@media screen and (max-width: 410px) {
  .burger__item {
    height: 50px;
  }
}
.burger__img {
  height: 34px;
  width: 34px;
  opacity: 0.9;
}
@media screen and (max-width: 410px) {
  .burger__img {
    display: none;
  }
}
.burger__text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  margin-left: 16px;
  color: #5C6D7D;
  max-width: 150px;
}
@media screen and (max-width: 768px) {
  .burger__text {
    font-size: 14px;
  }
}
@media screen and (max-width: 410px) {
  .burger__text {
    font-size: 10px;
    margin-left: 0;
  }
}
.burger__arrow {
  position: absolute;
  right: 25px;
  top: 22px;
  height: 16px;
  width: 9px;
  opacity: 0.9;
}
@media screen and (max-width: 768px) {
  .burger__arrow {
    right: 16px;
  }
}

.basket {
  display: none;
  position: absolute;
  background: #fff;
  padding: 30px;
  right: 0;
  top: 80px;
  -webkit-box-shadow: 0px 10px 80px rgba(0, 52, 41, 0.3);
          box-shadow: 0px 10px 80px rgba(0, 52, 41, 0.3);
  border-radius: 20px;
  z-index: 4;
}
.basket__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #5C6D7D;
  margin-bottom: 35px;
}
.basket__text b {
  font-weight: 700;
}
.basket__checkout {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px;
  background: #47B39C;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 30px;
}
.basket__checkout p {
  margin-right: 15px;
}
.basket__edit {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  color: #33485D;
  padding-bottom: 5px;
  border-bottom: 1px solid #5c6d7d80;
}
.basket::before {
  content: "";
  position: absolute;
  top: -40px;
  right: 25px;
  border: 20px solid transparent;
  border-bottom: 20px solid #fff;
}

.header {
  padding: 16px 0 24px 0;
}
.header__wrapper {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 10px;
}
.header__header {
  margin-bottom: 24px;
}
.header__header, .header__info, .header__menu, .header__phone, .header__languages, .header__user, .header__shop, .header__catalog, .header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 115px;
  height: 40px;
}
.header__info {
  width: 72%;
}
.header__menu {
  width: 53%;
  margin-left: -5px;
}
.header__link, .header__phone, .header__lang, .header__sign {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: bold;
  color: #33485D;
}
.header__link {
  opacity: 0.8;
  padding-bottom: 5px;
}
.header__link:hover {
  opacity: 1;
  border-bottom: 1px solid #33485D;
}
.header__dot {
  width: 6px;
  height: 6px;
  background: #DDE8F0;
  border-radius: 50%;
}
.header__phone {
  width: 13%;
  margin-right: 5%;
}
.header__phone img {
  height: 5px;
  width: 9px;
}
.header__lang-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__languages {
  width: 30%;
}
.header__user {
  width: 45%;
}
.header__user img {
  height: 20px;
  width: 20px;
}
.header .burger-btn {
  display: none;
}
.header .burger-btn > span {
  width: 100% !important;
}
.header .burger-btn > span, .header .burger-btn::after, .header .burger-btn::before {
  background-color: #34495e !important;
}
.header .search {
  display: none;
  position: absolute;
  right: 70px;
  cursor: pointer;
}
.header__shop {
  position: relative;
}
.header__catalog {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 370px;
  height: 60px;
  background: #FFBE48;
  border-top-left-radius: 10px;
  z-index: 5;
}
.header__burger, .header .burger-btn {
  position: relative;
  width: 30px;
  height: 20px;
  margin-left: 3%;
  cursor: pointer;
}
.header__burger > span, .header .burger-btn > span {
  background-color: #fff;
  position: absolute;
  width: 50%;
  height: 3px;
  border-radius: 18px;
  left: 0;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__burger:after, .header__burger:before, .header .burger-btn:after, .header .burger-btn:before {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 18px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__burger:before, .header .burger-btn:before {
  top: 20px;
}
.header__burger:after, .header .burger-btn:after {
  bottom: 20px;
}
.header__burger_active span, .header .burger-btn_active span {
  opacity: 0;
}
.header__burger_active:before, .header .burger-btn_active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}
.header__burger_active:after, .header .burger-btn_active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}
.header__catalog-text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  margin-right: 20%;
}
.header__categories {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  border-bottom: 1px solid #fff;
  margin-right: 5%;
}
.header__search {
  position: relative;
  width: 52%;
}
.header__search input[type=search] {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: #33485D;
  opacity: 0.7;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  background: #DDE8F0;
  border-radius: 10px;
  position: relative;
}
.header__search input[type=submit] {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 18px;
  height: 18px;
  border: none;
  background: url(../img/header/loop.png) no-repeat 50% 50%;
}
.header__vidgets {
  width: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__vidget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 87px;
  height: 60px;
  border: 2px solid #FFCB6D;
  margin-left: -2px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__vidget .number {
  position: absolute;
  top: 5px;
  right: 8px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  width: 30px;
  height: 20px;
  padding: 3px 11px;
  background: #FFBE48;
  border-radius: 18px;
  color: #33485D;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__vidget:last-child {
  border-top-right-radius: 10px;
}
.header__vidget:hover {
  background: #47B39C;
}
.header__vidget:hover .number {
  background: #fff;
}
.header__vidget:hover .header__shopping-cart {
  background: url(../img/header/shopping-cart-hover.svg) no-repeat center center;
}
.header__balance, .header__favourite, .header__shopping-cart {
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__balance {
  background: url(../img/header/balance.svg) no-repeat center center;
}
.header__favourite {
  background: url(../img/header/favourite.svg) no-repeat center center;
}
.header__shopping-cart {
  background: url(../img/header/shopping-cart.svg) no-repeat center center;
}
.header__vidget-hover:hover .basket {
  display: block;
}
@media screen and (max-width: 1340px) {
  .header .burger-btn, .header .search {
    display: block;
  }
  .header__info {
    display: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 30px;
    position: absolute;
    top: 70px;
    right: -100%;
    width: 25%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #34495e;
  }
  .header__info_active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 0;
    z-index: 7;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .header__link, .header__phone, .header__lang, .header__sign {
    color: #fff;
    font-size: 17px;
  }
  .header__menu {
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__menu li {
    margin-bottom: 10px;
  }
  .header__phone, .header__lang-user {
    width: 100%;
    margin-bottom: 20px;
  }
  .header__lang-user .header__dot {
    display: block;
  }
  .header__dot {
    display: none;
  }
  .header__search {
    display: none;
  }
  .header__vidgets {
    width: 220px;
  }
}
@media screen and (max-width: 768px) {
  .header__info {
    width: 60%;
  }
  .header__link, .header__phone, .header__lang, .header__sign {
    font-size: 21px;
  }
  .header__menu li {
    margin-bottom: 20px;
  }
  .header__phone, .header__lang-user {
    width: 100%;
    margin-bottom: 30px;
  }
  .header__catalog {
    height: 50px;
    width: 220px;
  }
  .header__catalog-text {
    font-size: 18px;
    margin-right: 0;
  }
  .header__categories {
    font-size: 10px;
    line-height: 11px;
  }
  .header__vidgets {
    width: 170px;
  }
  .header__vidget {
    height: 50px;
    width: 60px;
  }
  .header__vidget .number {
    top: 5px;
    right: 5px;
    padding: 0 6px;
    width: 20px;
    height: 15px;
  }
}
@media screen and (max-width: 410px) {
  .header__catalog {
    width: 120px;
  }
  .header__categories {
    display: none;
  }
  .header__vidgets {
    width: 140px;
  }
}

.categories {
  position: relative;
  max-width: 1840px;
  margin: 0 auto;
  padding: 80px 0 75px 0;
  background: linear-gradient(99.18deg, #FF7800 3.07%, #FE374A 100.56%);
  border-radius: 22px;
  overflow: hidden;
  margin-bottom: 140px;
  z-index: 3;
}
.categories__ellips-first {
  position: absolute;
  width: 244px;
  height: 244px;
  bottom: -13%;
  left: -4%;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.042) 0%, rgba(216, 248, 255, 0.2) 100%);
  -webkit-backdrop-filter: blur(120px);
          backdrop-filter: blur(120px);
  -webkit-transform: matrix(0, 1, 1, 0, 0, 0);
          transform: matrix(0, 1, 1, 0, 0, 0);
}
.categories__ellips-second {
  position: absolute;
  width: 775px;
  height: 775px;
  right: -22%;
  bottom: -20%;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(254, 52, 73, 0.2) 0%, rgba(255, 55, 74, 0.2) 100%);
  -webkit-backdrop-filter: blur(120px);
          backdrop-filter: blur(120px);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}
.categories__wrapper {
  max-width: 1520px;
  margin: 0 auto;
}
.categories__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}
.categories__title {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 64px;
  line-height: 72px;
  color: #fff;
}
.categories__all-categories {
  padding: 22px 26px 20px 26px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 1;
  border: 1px solid white;
  border-radius: 35px;
}
.categories__slide:hover .categories__name {
  border-bottom: 1px solid #ffffff80;
}
.categories__slide-img {
  position: relative;
  margin-bottom: 20px;
}
.categories__slide-img img {
  width: 100%;
}
.categories__ellips-third {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  border-radius: 50%;
  bottom: -15px;
  background: conic-gradient(from 180deg at 50% 50%, rgba(255, 255, 255, 0) 0deg, #F5DF4D 180deg, #FF6D43 360deg);
  -webkit-transform: matrix(0, 1, 1, 0, 0, 0);
          transform: matrix(0, 1, 1, 0, 0, 0);
}
.categories__name {
  font-family: Roboto;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #FFFFFF;
}
.categories .even-slide {
  margin-top: 30px;
}
@media screen and (max-width: 1000px) {
  .categories__title {
    font-size: 38px;
  }
}
@media screen and (max-width: 842px) {
  .categories {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .categories {
    padding: 40px 0 35px 0;
  }
  .categories__wrapper {
    padding: 0 10px;
  }
  .categories__header {
    margin-bottom: 40px;
  }
  .categories__title {
    font-size: 24px;
    line-height: normal;
  }
  .categories__all-categories {
    padding: 10px;
    font-size: 12px;
    line-height: normal;
  }
  .categories__ellips-first, .categories__ellips-second {
    display: none;
  }
  .categories__name {
    font-size: 20px;
    line-height: 20px;
  }
}
@media screen and (max-width: 420px) {
  .categories__title {
    font-size: 16px;
  }
  .categories__all-categories {
    padding: 6px;
    font-size: 10px;
  }
  .categories__name {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
  }
}

.something-text {
  position: absolute;
  left: 42%;
  top: -7%;
  max-width: 305px;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #6A677B;
  z-index: 1;
}
.something-text img {
  position: absolute;
  top: -1230%;
  left: -125%;
}

.cards {
  position: relative;
  max-width: 1920px;
  padding-top: 65px;
  padding-bottom: 50px;
  background: #F7F9F9;
  margin: 0 auto;
  z-index: 0;
}
.cards::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 70px;
  left: 50%;
  top: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
}
.cards__wrapper {
  position: relative;
  max-width: 1520px;
  margin: 0 auto;
  z-index: 2;
}
.cards__feedback {
  position: relative;
  max-width: 370px;
  margin: 0 auto;
  padding: 20px 70px 20px 55px;
  background: -webkit-gradient(linear, left bottom, left top, from(#FF485A), to(#FF485A));
  background: linear-gradient(0deg, #FF485A, #FF485A);
  border-radius: 70px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 140px;
}
.cards__feedback img {
  position: absolute;
  right: 30px;
}
.cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cards__card {
  background: #fff;
  width: 365px;
  padding: 30px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #6A677B;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}
.cards__card:hover {
  background: #FF485A;
  -webkit-box-shadow: 0px 10px 40px rgba(255, 72, 90, 0.4);
          box-shadow: 0px 10px 40px rgba(255, 72, 90, 0.4);
  color: #fff;
}
.cards__card:hover .cards__time {
  background: url(../img/feedback/clock-hover.svg) no-repeat left center;
}
.cards__text {
  margin-bottom: 60px;
}
.cards__time {
  background: url(../img/feedback/clock.svg) no-repeat left center;
  padding-left: 30px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media screen and (max-width: 842px) {
  .cards .something-text {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .cards::after {
    height: 50px;
  }
  .cards__feedback {
    font-size: 12px;
    max-width: 260px;
    padding: 15px 30px 15px 25px;
    margin-bottom: 50px;
  }
  .cards__feedback img {
    right: 20px;
  }
  .cards__card {
    max-width: 175px;
    padding: 10px;
    font-size: 14px;
  }
  .cards__text {
    margin-bottom: 15px;
  }
}

.guns {
  max-width: 1920px;
  margin: 0 auto;
  padding: 40px 20px 185px 20px;
}
.guns__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(100px, 350px) 35px minmax(100px, 350px);
  -ms-grid-columns: 1fr 35px 1fr 35px 1fr 35px 1fr;
      grid-template: repeat(2, minmax(100px, 350px))/repeat(4, 1fr);
  gap: 35px;
  margin-bottom: 30px;
}
.guns__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-size: cover !important;
}
.guns__equipment {
  background: url(../img/guns/equipment.svg) no-repeat center center;
}
.guns__weapon {
  background: url(../img/guns/weapon.svg) no-repeat center center;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
}
.guns__ammo {
  background: url(../img/guns/ammo.svg) no-repeat center center;
}
.guns__accessories {
  background: url(../img/guns/accessories.svg) no-repeat center center;
}
.guns__knifes {
  background: url(../img/guns/knifes.svg) no-repeat center center;
}
.guns__range {
  background: url(../img/guns/range.svg) no-repeat center center;
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 2;
  grid-column-end: 5;
}
.guns__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 3px;
  color: #fff;
}
.guns-slider {
  padding-top: 15px !important;
}
.guns__slide {
  padding: 20px 20px 0 20px;
  border: 1px solid #F1F1F1;
  border-radius: 3px;
  cursor: pointer;
}
.guns__slide:hover {
  -webkit-box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.1);
}
.guns__slide:hover .cart-price:hover {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px 10px 15px;
  background: #52AA50;
}
.guns__slide:hover .cart-price:hover .cart-price__img {
  background: url(../img/guns/market-hover.svg);
  -webkit-transform: unset;
          transform: unset;
}
.guns__slide:hover .cart-price:hover .cart-price__text {
  display: block;
}
.guns .swiper-scrollbar {
  cursor: pointer;
}
.guns .swiper-scrollbar-drag {
  background: #000;
}
.guns .slide {
  margin-bottom: 35px;
  position: relative;
}
.guns .slide__categorie {
  position: absolute;
  left: 20px;
  top: -15px;
  padding: 7px 13px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 30px;
}
.guns .slide__categorie_new {
  background: #219653;
}
.guns .slide__categorie_stock {
  background: #2F80ED;
}
.guns .slide__categorie_discount {
  background: #E02020;
}
.guns .slide__categorie_top-sales {
  background: #FF8A00;
}
.guns .slide__product {
  position: relative;
  text-align: center;
  margin-bottom: 12px;
}
.guns .slide__img {
  width: 100%;
}
.guns .slide__favourite, .guns .slide__compare, .guns .slide__play, .guns .slide__gift {
  position: absolute;
  cursor: pointer;
}
.guns .slide__favourite {
  right: 0;
  top: 0;
}
.guns .slide__compare {
  right: 0;
  top: 30px;
}
.guns .slide__play {
  right: 0;
  top: 60px;
}
.guns .slide__gift {
  left: 0;
  bottom: 0;
}
.guns .slide__title {
  max-width: 405px;
  margin-bottom: 55px;
}
.guns .slide__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}
.guns .slide__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.guns .slide__review {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #A7B0B5;
}
.guns .slide__price {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 405px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.guns .slide__price .line {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 2px;
  background: #E02020;
}
.guns .slide__price .old-price {
  position: absolute;
  left: 0;
  top: -8px;
  font-family: "Commissioner";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #A7B0B5;
}
.guns .slide__price .new-price {
  font-family: "Commissioner";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #E02020;
}
.guns .slide .cart-price {
  padding: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.guns .slide .cart-price__img {
  width: 20px;
  height: 20px;
  background: url(../img/guns/market.svg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.guns .slide .cart-price__text {
  display: none;
  font-family: "Commissioner";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 10px;
}
.guns .slide .simple-rating {
  position: relative;
  display: inline-block;
  max-width: 70px;
  font-size: 16px;
}
.guns .slide .simple-rating::before {
  content: "★★★★★";
  display: block;
}
.guns .slide .simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  overflow: hidden;
}
.guns .slide .simple-rating__item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}
.guns .slide .simple-rating__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #D8DADB;
}
.guns .slide .simple-rating__label::before {
  content: "★";
  display: block;
  -webkit-transition: color 0.3s ease 0.3s;
  transition: color 0.3s ease 0.3s;
}
.guns .slide .simple-rating__item:checked,
.guns .slide .simple-rating__item:checked ~ .simple-rating__label {
  color: #FFD600;
}
.guns .slide .simple-rating__label:hover,
.guns .slide .simple-rating__label:hover ~ .simple-rating__label,
.guns .slide .simple-rating__label:checked ~ .simple-rating__label:hover {
  color: #FFD600;
}
@media screen and (max-width: 1200px) {
  .guns__grid {
    -ms-grid-rows: 200px 10px 200px;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
        grid-template: repeat(2, 200px)/repeat(4, 1fr);
    gap: 10px;
  }
}
@media screen and (max-width: 768px) {
  .guns {
    padding-bottom: 50px;
  }
  .guns__grid {
    -ms-grid-rows: (200px)[4];
    -ms-grid-columns: (minmax(100px, 1fr))[2];
        grid-template: repeat(4, 200px)/repeat(2, minmax(100px, 1fr));
  }
  .guns__ammo {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .guns__accessories {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .guns__range {
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
  }
}
@media screen and (max-width: 570px) {
  .guns__title {
    font-size: 10px;
    padding: 5px 5px;
    line-height: normal;
  }
}
@media screen and (max-width: 500px) {
  .guns__grid {
    -ms-grid-rows: (100px)[4];
    -ms-grid-columns: (minmax(50px, 1fr))[2];
        grid-template: repeat(4, 100px)/repeat(2, minmax(50px, 1fr));
  }
  .guns__slide {
    padding: 10px 10px 0 10px;
  }
  .guns .slide__categorie {
    padding: 4px 8px;
    font-size: 9px;
  }
  .guns .slide__title {
    margin-bottom: 15px;
  }
  .guns .slide__text {
    font-size: 12px;
  }
  .guns .slide__review {
    font-size: 10px;
  }
  .guns .simple-rating {
    font-size: 13px;
  }
  .guns .slid__categorie {
    padding: 4px 8px;
  }
  .guns .slide__favourite {
    width: 16px;
  }
  .guns .slide__compare {
    width: 16px;
    top: 20px;
  }
  .guns .slide__play {
    width: 16px;
    top: 40px;
  }
  .guns .slide__gift {
    width: 16px;
  }
  .guns .new-price {
    font-size: 14px !important;
  }
  .guns .old-price {
    font-size: 12px !important;
  }
}

.footer {
  padding: 60px 0 100px 0;
  background: #34495E;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1350px;
  margin: 0 auto;
}
.footer__left {
  max-width: 400px;
}
.footer__left img {
  opacity: 0.5;
  cursor: pointer;
}
.footer__left img:hover {
  opacity: 1;
}
.footer__logo {
  margin-bottom: 40px;
  opacity: 1 !important;
}
.footer__soc-network, .footer__delivery, .footer__credit-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__soc-network {
  max-width: 170px;
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__inst {
  height: 22px;
}
.footer__facebook {
  height: 24px;
}
.footer__twitter, .footer__youtube {
  height: 18px;
}
.footer__delivery {
  width: 370px;
}
.footer__credit-cards {
  width: 67%;
}
.footer__faq {
  max-width: 240px;
  margin-bottom: 30px;
}
.footer__title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}
.footer__text p {
  cursor: pointer;
  opacity: 0.5;
}
.footer__text p:hover {
  opacity: 1;
}
.footer__hotline {
  max-width: 160px;
}
.footer__main-number {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.7;
  cursor: pointer;
  margin-bottom: 12px;
}
.footer__main-number:hover {
  opacity: 1;
}
.footer__numbers {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  cursor: pointer;
}
.footer__numbers p {
  opacity: 0.7;
}
.footer__numbers p:hover {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .footer {
    padding-bottom: 30px;
  }
  .footer__left {
    max-width: 200px;
    text-align: center;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  .footer__soc-network {
    margin: 0 auto 20px auto;
  }
  .footer__delivery {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__delivery img {
    margin-bottom: 10px;
  }
}

.cookie {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.cookie__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 auto;
  max-width: 1500px;
}
.cookie__content {
  max-width: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 20px 30px 25px;
  background: #74C3B4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 7;
  color: #fff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cookie__text {
  margin-right: 3%;
}
.cookie__text a {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.cookie__close {
  color: #fff;
  background: transparent;
  padding: 15px 40px;
  border: 1px solid #fff;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.cookie__close:hover {
  background: #fff;
  color: #74C3B4;
}
@media screen and (max-width: 768px) {
  .cookie__content {
    font-size: 10px;
    padding: 10px;
  }
  .cookie__close {
    padding: 10px 20px;
  }
}

.popup-search {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0 !important;
  left: 0;
  z-index: 10;
  background: #0006;
}
.popup-search__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 800px;
}
.popup-search__content {
  position: relative;
  width: 100%;
}
.popup-search__content input[type=search] {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: #33485D;
  opacity: 0.7;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  background: #DDE8F0;
  border-radius: 10px;
  position: relative;
}
.popup-search__content input[type=submit] {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 18px;
  height: 18px;
  border: none;
  background: url(../img/header/loop.png) no-repeat 50% 50%;
}
@media screen and (max-width: 836px) {
  .popup-search__content {
    width: 90%;
    margin: 0 auto;
  }
}
.popup-search__close {
  top: -36px;
  position: absolute;
  background: transparent;
}
.popup-search__close img {
  width: 36px;
  height: 36px;
}
@media screen and (max-width: 836px) {
  .popup-search__close {
    right: 0;
  }
  .popup-search__close img {
    width: 30px;
    height: 30px;
  }
}

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-color: transparent;
  width: 38px;
  text-align: center;
  z-index: 5;
}
.back-to-top .arrow-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  padding-right: 1px;
  padding-bottom: 5px;
  background: #DDE8F0;
  border-radius: 50%;
  margin-bottom: 10px;
}
.back-to-top__text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  color: #DDE8F0;
}